<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
       
        <title>Animales</title>
       
    </head>
    <body>
       <h1>Lista animales</h1>
        {% for animal in lista_animales%}
            <li>
                <strong>Nombre:</strong> {{ animal.nombre }} <br>
                <strong>Especie:</strong> {{ animal.tipo}} <br>
                <strong>Cuidador</strong> {{ animal.cuidador.username }} <br>
            </li>
            <br>
        {% endfor %}    
                

    </body>
</html>